body {
  letter-spacing: 0;
  font-family: 'Greycliff', sans-serif;
}
body.muted {
  height: 100vh;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.lazy {
  width: 100%;
}