$color-primary: #ED3B30;
$color-second: #3E2B21;
$color-third: #B6D3E7;

$font-primary: 'Whyte', sans-serif;
$font-second: 'Cambon', serif;

$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1600px;
